@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=cyrillic');
@font-face {
    font-family: 'Cera';
    src: url('../fonts/CeraRoundProBold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera';
    src: url('../fonts/CeraRoundProRegular.otf');
    font-weight: normal;
    font-style: normal;
}