/* Default values */

$margin-top: 0;
$margin-bottom: 80px;
$margin-left: 32px;
$margin-right: 32px;
$gutters: 16px;
$paddings: 16px;
/* Rows */

.row {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.row.wrap {
    flex-wrap: wrap;
}

.row.margin-tb {
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}

.grid {
    .row:last-child {
        margin-bottom: 0;
    }
}

.row.margin-lr {
    margin-left: $margin-left;
    margin-right: $margin-right;
    width: calc(100% - 64px);
}

.with-gutters .col {
    margin: 0 $gutters;
}

.with-gutters .col:first-of-type {
    margin-left: 0;
}

.with-gutters .col:last-of-type {
    margin-right: 0;
}

.row.space-between {
    justify-content: space-between;
}

.row.space-around {
    justify-content: space-around;
}

.row.center {
    justify-content: center;
}

.row.flex-end {
    justify-content: flex-end;
}

.row.vertical-start {
    align-items: flex-start;
}

.row.vertical-end {
    align-items: flex-end;
}

.row.vertical-center {
    align-items: center;
}

.row.vertical-stretch {
    align-items: stretch;
}

/* Columns */

.col {
    box-sizing: border-box;
}

.col .padding {
    padding: $paddings;
}

.col-fill {
    flex-grow: 1;
}

.col-1-of-2,
.col-2-of-4 {
    width: 50%;
}

.col-1-of-3 {
    width: 33.33%;
}

.col-2-of-3 {
    width: 66.66%;
}

.col-1-of-4 {
    width: 25%;
}

.col-3-of-4 {
    width: 75%;
}