@import '../css/reset.css';
@import './fonts';
@import './grid';
@import '../components/peppermint/peppermint.suggested.css';
$color-16: #4f699b;
$color-11: #23b3e2;
$color-3: #ffffff;
$color-13: #c9005a;
$color-2: #60759d;
$color-21: #335b91;
$color-10: #cbe2fb;
$color-18: #a8b2bf;
$color-19: #e3e7f2;
$color-15: #31496b;
$color-17: #39649d;
$color-9: #5489c3;
$color-7: #e70067;
$color-4: #4c6fa6;
$color-1: #16afe0;
$color-6: #fafbfd;
$color-14: #f8f8f8;
$color-20: #fafaff;
$color-8: #f0f5ff;
$color-5: #fdfffc;
$color-12: #b8c9e5;
$color100200: #ccc;
$max-width:1920;
@function percentVal($value) {
    @return ($value / $max-width)*100%;
}

body,
html {
    font-family: 'Cera', 'Ubuntu', sans-serif;
    color: $color-2;
}

img {
    width: 100%;
    height: auto;
}

.m-auto {
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

.display-flex.row {
    flex-direction: row !important;
}

.display-flex.column {
    flex-direction: column !important;
}

.text-center {
    text-align: center;
}

.container {
    max-width: percentVal(1160);
    margin: 0 auto;
    @media screen and (max-width: 1580px) {
        max-width: 70%;
    }
    &--right {
        display: flex;
        justify-content: flex-end;
    }
    &--afterbg {
        position: relative;
        z-index: 1;
    }
}

.navigation {
    justify-content: space-between;
    align-items: center;
    &-list {
        justify-content: space-between;
        align-items: center;
        &__item {
            &:not(:last-child) {
                margin-right: 50px;
            }
        }
        &__link {
            font-size: 16px;
            line-height: 24px;
            font-weight: bold;
            transition: .3s all;
            white-space: nowrap;
            color: $color-5;
            font-weight: 500;
            &:hover {
                color: $color-7;
            }
        }
    }
}

.lines {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    &--opp {
        background-image: url('../img/lines-opp-all.png');
        background-position: left -882px top -768px;
        background-size: 247%;
        @media screen and (max-width: 1366px) {
            background-position: left -254px top -267px;
            background-size: 198%;
        }
    }
    &--about {
        background-image: url('../img/lines-about-all.png');
    }
    &--header {
        background-image: url('../img/lines-header-all.png');
    }
}

.list-disc {
    padding-left: 12px;
    &__item {
        position: relative;
        &::before {
            position: absolute;
            width: 5px;
            height: 5px;
            top: 10px;
            left: -10px;
            content: "";
            display: block;
            background-color: $color-1;
        }
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

h3 {
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    text-align: center;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

p.important {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}

.btn {
    color: $color-5;
    font-size: 16px;
    font-weight: 700;
    border-radius: 100px;
    padding: 18px 36px;
    cursor: pointer;
    transition: .5s all;
    white-space: nowrap;
    &-primary {
        border: 2px solid $color-7;
        background-color: $color-7;
        &:hover {
            background-color: transparent;
            color: $color-7;
        }
    }
    &-white {
        &:hover {
            background-color: transparent;
            color: $color-5;
        }
    }
    &-secondary {
        border: 2px solid $color-9;
        &:hover {
            background-color: $color-9;
        }
    }
}

.form {
    align-items: center;
    justify-content: center;
    &-control {
        &:first-child {
            margin-right: 41px;
            width: 360px;
        }
        input {
            color: $color-18;
            font-family: 'Cera', 'Ubuntu', sans-serif;
            font-size: 14px;
            font-weight: 300;
            border-radius: 30px;
            border: 1px solid $color-16;
            padding: 25px 20px;
            font-size: 14px;
            width: 100%;
            background-color: transparent;
            &:placeholder {
                color: $color-18;
                font-weight: 300;
            }
        }
        .btn {
            width: 159px;
        }
    }
}

.header {
    background: url('../img/header-bg-img.png') no-repeat center top;
    height: 751px;
    &-top {
        padding-top: 31px;
        .navigation {
            &-list {
                &__item {
                    &:not(:last-child) {
                        margin-right: 30px;
                    }
                }
            }
        }
    }
    &-bottom {
        padding-top: 125px;
        .carousel {
            margin-bottom: 95px;
            @media screen and (max-width: 1580px) {
                margin-bottom: 45px;
            }
            &-slide {
                justify-content: center;
                &__content {
                    color: $color-3;
                    text-align: center;
                    max-width: percentVal(742);
                    padding-bottom: 22px;
                    @media screen and (max-width: 1919px) {
                        max-width: 50%;
                    }
                    h3 {
                        margin-bottom: 51px;
                    }
                    p {
                        font-size: 24px;
                        font-weight: 500;
                        line-height: 36px;
                        margin-bottom: 76px;
                    }
                }
            }
        }
        .carousel-dots {
            justify-content: center;
        }
    }
}

.about {
    position: relative;
    &-image {
        position: absolute;
        width: percentVal(380);
        left: percentVal(502);
        top: 147px;
        @media screen and (max-width: 1366px) {
            left: percentVal(502) - 3%;
            top: 240px;
        }
    }
    &-content {
        padding: 246px 0 224px;
        max-width: 559px;
        margin-left: -35px;
        h3 {
            margin-bottom: 29px;
            text-align: left;
        }
        &__summary {
            margin-bottom: 25px;
        }
        &__list {
            margin-bottom: 65px;
            max-width: 460px;
        }
        &__request {}
    }
}

.functions {
    position: relative;
    &::before {
        position: absolute;
        top: -310px;
        right: (95 / 1920) * 100%;
        display: block;
        background: url("../img/about-bg.png") center top no-repeat;
        height: 485px;
        width: 489px;
        content: "";
        background-size: contain;
    }
    &-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background: url('../img/functions-bg.png') center top no-repeat; // background-image: linear-gradient(to bottom, #0e72b7 0%, #282b64 100%);
        // opacity: 0.04;
        // border-radius: 50% 50% 0% 0% / 7% 7% 0% 0%;
    }
    &-content {
        padding: 163px 0 171px;
        h3 {
            margin-bottom: 58px;
        }
        &__one {
            text-align: center;
            max-width: 247px;
            span {
                border: 1px solid transparentize($color-1, .75);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 80px;
                padding: 24px;
                border-radius: 100px;
                margin-bottom: 24px;
            }
        }
    }
    @media screen and (max-width: 1366px) {
        &::before {
            top: -257px;
            right: 0;
            height: 400px;
            width: 400px;
        }
    }
}

.opportunities {
    position: relative;
    &-image {
        position: absolute;
        left: percentVal(1040);
        top: 297px;
        width: 32%;
        @media screen and (max-width: 1366px) {
            top: 30%;
        }
    }
    &-content {
        padding: 164px 0 204px;
        h3 {
            margin-bottom: 107px;
            color: $color-15;
        }
        &__list {
            max-width: 551px;
            .list-item {
                position: relative;
                h4 {
                    margin-bottom: 21px;
                }
                &:not(:last-child) {
                    margin-bottom: 92px;
                }
                &::before {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: transparentize($color-11, 0.6);
                    font-size: 60px;
                    font-weight: 500;
                    line-height: 54px;
                    width: 123px;
                    height: 123px;
                    background: url('../img/list-border.png') no-repeat left top;
                    border-radius: 100px;
                    position: absolute;
                    left: -110px;
                    top: -30px;
                }
            }
            .list-item.first {
                &::before {
                    content: "1";
                }
            }
            .list-item.second {
                &::before {
                    content: "2";
                }
            }
            .list-item.third {
                &::before {
                    content: "3";
                }
            }
        }
    }
}

.analytics {
    position: relative;
    &-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, #282b64 0%, #0e72b7 100%);
        opacity: 0.04;
    }
    &-image {
        left: percentVal(-71);
        top: -(84 / 640) * 100%;
        position: absolute;
        width: 53%;
        img {
            width: 100%;
            height: auto;
        }
        @media screen and (max-width: 1580px) {
            top: 11%;
        }
    }
    &-content {
        padding: 96px 0 200px;
        width: 50%;
        h3 {
            margin-bottom: 43px;
            text-align: left;
        }
        &__list {
            max-width: 575px;
        }
        &::before {
            position: absolute;
        }
    }
}

.access {
    position: relative;
    &-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, #0e72b7 0%, #282b64 100%); // opacity: .1;
        opacity: .1;
    }
    &-content {
        text-align: center;
        font-weight: 500;
        padding: 152px 0 167px;
        h3 {
            margin-bottom: 57px;
        }
        p {
            margin-bottom: 59px;
            max-width: 579px;
        }
    }
}

.footer {
    font-weight: 400;
    width: 100%;
    background-color: $color-17;
    color: $color-5;
    &-top {
        padding: 63px 0 56px;
        border-bottom: 1px solid $color-21;
    }
    &-bottom {
        text-align: center;
        padding: 37px 0 32px;
        a {
            color: $color-7;
        }
    }
}